<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>H.A.R.D. Restaurant App</title>
  </head>
  <body>
    <p>
      <a href="https://project-3-backend-hard.herokuapp.com/houston">Houston</a>
    </p>
    <p>
      <a href="https://project-3-backend-hard.herokuapp.com/austin">Austin</a>
    </p>
    <p>
      <a href="https://project-3-backend-hard.herokuapp.com/raleigh">Raleigh</a>
    </p>
    <p>
      <a href="https://project-3-backend-hard.herokuapp.com/detroit">Detroit</a>
    </p>
  </body>
</html>
